<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aranmula Gallery</title>
    <link rel="stylesheet" type="text/css" href="artform-gallery.css">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="kerala.html"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Aranmula Kannadi Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/F3Po7Ru7Hc0?si=AVxP2H9ylKVpCmWK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Aranmula Metal Mirrors : The Film</p>
        </div>

        <div class="gallery-item image-item">
            <img src="aranmula1.jpg" class="gallery-media">
            <p class="media-caption">Traditional</p>
        </div>

        <div class="gallery-item image-item">
            <img src="aranmula2.jpg" class="gallery-media">
            <p class="media-caption">Attractive</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Ra4W_aztfHA?si=9iVUFUVTjW0PVUHc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Making Aranmula Kannadi Mirrors</p>
        </div>

        <div class="gallery-item image-item">
            <img src="aranmula3.jpg" class="gallery-media">
            <p class="media-caption">Work</p>
        </div>

        <div class="gallery-item image-item">
            <img src="aranmula4.jpg" class="gallery-media">
            <p class="media-caption">Designer</p>
        </div>

    </div>
</body>
</html>