<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bamboo & Grass Weaving Gallery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='artform-gallery.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="{{ url_for('Himachal') }}"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Bamboo & Grass Weaving Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DRXXy4wrIw4?si=nRJqOeoJlN2ZsGtF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Weaving Together a Better Life</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/bamboo1.jpg') }}" class="gallery-media">
            <p class="media-caption">Bamboo Baskets</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/bamboo2.jpg') }}" class="gallery-media">
            <p class="media-caption">Grass Weaves</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9kFhfq5X1Yk?si=W2Md936mwpY2XYbD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">How to make a nice Bamboo Baske</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/bamboo3.jpg') }}" class="gallery-media">
            <p class="media-caption">Bamboo Weaves</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/bamboo4.jpg') }}" class="gallery-media">
            <p class="media-caption">Woven Carpets</p>
        </div>

    </div>
</body>
</html>