<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gujarat Beadwork</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='artform-gallery.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="{{ url_for('Gujarat') }}"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Beadwork Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1exWU1tl0i4?si=1BLYtRAGHdkOleCV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Beadwork of Gujarat</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/bead1.jpg') }}" alt="Beadwork Toran" class="gallery-media">
            <p class="media-caption">Beadwork Toran</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/bead2.jpg') }}" alt="Beadwork Jewellery" class="gallery-media">
            <p class="media-caption">Beadwork Jewellery</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/AVgkLFHPDLU?si=1XiVBmeuq7qmfCDb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Beadwork Products</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/bead3.jpg') }}" alt="Moti Bharat Embroidery" class="gallery-media">
            <p class="media-caption">Moti Bharat Embroidery</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/bead4.webp') }}" alt="Beadwork Bangles" class="gallery-media">
            <p class="media-caption">Beadwork Bangles</p>
        </div>

    </div>
</body>
</html>