<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bidriware Gallery</title>
    <link rel="stylesheet" type="text/css" href="artform-gallery.css">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="karnataka.html"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Bidriware Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fyKb_RLzxy0?si=bNoDQV0-s0WSo6B1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Exploring The Art of Bidriware</p>
        </div>

        <div class="gallery-item image-item">
            <img src="bidri1.jpg" class="gallery-media">
            <p class="media-caption">Showpieces</p>
        </div>

        <div class="gallery-item image-item">
            <img src="bidri2.jpeg" class="gallery-media">
            <p class="media-caption">Bidriware Designs</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DZ0MK04EsCs?si=ot7s4TpEZoAdzlGN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Making of Bidriware Works</p>
        </div>

        <div class="gallery-item image-item">
            <img src="bidri3.jpg" class="gallery-media">
            <p class="media-caption">Vases</p>
        </div>

        <div class="gallery-item image-item">
            <img src="bidri4.jpg" class="gallery-media">
            <p class="media-caption">Plates</p>
        </div>

    </div>
</body>
</html>