<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bell MEtal & Pottery Gallery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='artform-gallery.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="{{ url_for('Assam') }}"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Bell Metal & Pottery Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/nI9b8Tjog-g?si=qUwk3NGU5Ctc9o7S" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Sathebari's Bell Metal Craft</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/metal1.jpg') }}" class="gallery-media">
            <p class="media-caption">Clay Wall Hangings</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/metal2.jpg') }}" class="gallery-media">
            <p class="media-caption">Bell Making</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DMb3cpKXdfM?si=AxCNbNzaww_ObFrN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Traditional Pot Making - Assam</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/metal3.jpg') }}" class="gallery-media">
            <p class="media-caption">Metal Utensils</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/metal4.jpg') }}" class="gallery-media">
            <p class="media-caption">Deities from Clay</p>
        </div>

    </div>
</body>
</html>