<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chamba Rumaal Gallery</title>
    <link rel="stylesheet" type="text/css" href="artform-gallery.css">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="Himachal.html"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Chamba Rumaal Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/TUy7i7pWnyo?si=8pun18RIIyjmTsJ4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Chamba Rumal: History and Techniques</p>
        </div>

        <div class="gallery-item image-item">
            <img src="chamba1.jpg" class="gallery-media">
            <p class="media-caption">Chamba Art</p>
        </div>

        <div class="gallery-item image-item">
            <img src="chamba2.jpg" class="gallery-media">
            <p class="media-caption">Chamba work</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rCMNXXQXSPc?si=KbBO7m5eG5R_rOMb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Chamba Rumal - The Handicraft</p>
        </div>

        <div class="gallery-item image-item">
            <img src="chamba3.jpg" class="gallery-media">
            <p class="media-caption">Floral Designs</p>
        </div>

        <div class="gallery-item image-item">
            <img src="chamba4.jpg" class="gallery-media">
            <p class="media-caption">Chamba Embroidery</p>
        </div>

    </div>
</body>
</html>