<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chanderi Waeving Gallery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='artform-gallery.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="{{ url_for('MP') }}"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Chanderi Weaving Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fbEe7xHAz7o?si=Z4D71bQiWPvD6lmb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Chanderi - Madhya Pradesh</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/chanderi1.webp') }}" alt="Mughal Court Painting" class="gallery-media">
            <p class="media-caption">Chanderi Silk</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/chanderi2.jpg') }}" alt="Mughal Portrait Painting" class="gallery-media">
            <p class="media-caption">Chanderi Fabric</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/TwYkersDx40?si=_IuPNoYPEIgc39Xx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Chanderi Sarees</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/chanderi3.webp') }}" alt="Mughal Flora Painting" class="gallery-media">
            <p class="media-caption">Chanderi Weaving</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/chanderi4.jpg') }}" alt="Mughal Hunting Scene" class="gallery-media">
            <p class="media-caption">Chanderi Handlooms</p>
        </div>

    </div>
</body>
</html>