<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chhau Dance Gallery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='artform-gallery.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="{{ url_for('West Bengal') }}"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Chhau Dance Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-6GvAxdEL5s?si=ENGIR5RnQz-pxTbU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Chhau - Folk Dance of West Bengal</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/Chhau1.jpg') }}" class="gallery-media">
            <p class="media-caption">Chhau Form</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/Chhau2.jpg') }}" class="gallery-media">
            <p class="media-caption">Chhau Masks</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/FOJtHgEKdd8?si=Uh6DczIyvAWAgFg4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Chhau Masks</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/Chhau3.jpg') }}" class="gallery-media">
            <p class="media-caption">Chhau Dance</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/Chhau4.jpg') }}" class="gallery-media">
            <p class="media-caption">Chhau Performance</p>
        </div>

    </div>
</body>
</html>