<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chola Gallery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='artform-gallery.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="{{ url_for('Tamil_Nadu') }}"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Chola Bronze Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/LbcQLXl_W5w?si=cL53mJ5HQIlq64Sp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Bronze Deities : A Timeless Chola Art</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/chola1.jpg') }}" class="gallery-media">
            <p class="media-caption">Bronze Idols</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/chola2.jpg') }}" class="gallery-media">
            <p class="media-caption">Nataraja Pose</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8swv7F7GIwI?si=E4V0nZgf82WSh5AN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Chola Bronze Casting</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/chola3.jpg') }}" class="gallery-media">
            <p class="media-caption">Bronze Statues</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/chola4.jpg') }}" class="gallery-media">
            <p class="media-caption">Bronze Artwork</p>
        </div>

    </div>
</body>
</html>