<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coir Gallery</title>
    <link rel="stylesheet" type="text/css" href="artform-gallery.css">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="kerala.html"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Coir Craft Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/UIFP09HAtws?si=4CObGYYFATYIOUMM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">The Art of Coir Making</p>
        </div>

        <div class="gallery-item image-item">
            <img src="coir1.webp" class="gallery-media">
            <p class="media-caption">Coir Handicrafts</p>
        </div>

        <div class="gallery-item image-item">
            <img src="coir2.jpg" class="gallery-media">
            <p class="media-caption">Coconut Shell Products</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/WyXUyMWiwl0?si=v4QOFcM-JVaHGD7c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Coir Jewellery</p>
        </div>

        <div class="gallery-item image-item">
            <img src="coir3.jpg" class="gallery-media">
            <p class="media-caption">Coir Fibre Mats</p>
        </div>

        <div class="gallery-item image-item">
            <img src="coir4.png" class="gallery-media">
            <p class="media-caption">Coir Jutes</p>
        </div>

    </div>
</body>
</html>