<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dhokra Gallery</title>
    <link rel="stylesheet" type="text/css" href="artform-gallery.css">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="Odisha.html"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Dhokra Metal Craft Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ya36mK58zHQ?si=YvFwgPN5GjErCIVu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">The Art of Dhokra</p>
        </div>

        <div class="gallery-item image-item">
            <img src="dhokra1.jpg" class="gallery-media">
            <p class="media-caption">Dhokra Handicrafts</p>
        </div>

        <div class="gallery-item image-item">
            <img src="dhokra2.jpg" class="gallery-media">
            <p class="media-caption">Dokra Keychain</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/qzd48EOi_00?si=mp4YXIMiNXNTSq88" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">A simple Dhokra DIY</p>
        </div>

        <div class="gallery-item image-item">
            <img src="dhokra3.jpg" class="gallery-media">
            <p class="media-caption">Dhokra Items</p>
        </div>

        <div class="gallery-item image-item">
            <img src="dhokra4.jpg" class="gallery-media">
            <p class="media-caption">Dhokra Decor</p>
        </div>

    </div>
</body>
</html>