<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gujarat Artforms</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='artform-gallery.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Artifika&display=swap" rel="stylesheet">
</head>
<body>
    <a href="{{ url_for('State_region') }}"><button id="Back">Back</button></a>

    <div class="artform-container1">
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/Lippan Art.webp') }}" class="artform-image" alt="Lippan Art" height="300px">
            <p class="artform-name">Lippan Kaam</p>
        </div>
        <div class="description-container1">
            Lippan Kaam, a distinctive mud-relief art from Kutch, Gujarat, historically adorned traditional homes. More than decorative, these Lippan-clad walls served as natural insulators, protecting homes from the harsh summer heat. The art is rich in beauty and cultural significance. Designs often feature geometric patterns and motifs of animals and people. Notably, the Rabari and Ahir communities integrated mirrors, which are believed to ward off evil and bring light. Symbolic motifs like circles represent the cycle of life, while peacocks signify prosperity. Crafted from clay and camel dung, Lippan Kaam beautifully embodies Gujarat's vibrant cultural heritage.
            <a href="{{ url_for('Lippan') }}"><button class="gallery">View Gallery</button></a>
        </div>
    </div>

    <div class="artform-container2">
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/Rogan Art.jpg') }}" class="artform-image" alt="Rogan Art">
            <p class="artform-name">Rogan Art</p>
        </div>
        <div class="description-container2">
            Rogan Art, named from the Persian word for oil, arrived in Kutch, Gujarat, about 400 years ago. Despite its foreign origin, it developed into a completely indigenous Indian technique. Rogan Art's beauty stems from its unique, freehand application. Artists guide viscous paint with a metal pin that never touches the cloth, creating a raised, symmetrical design transferred as a "mirror image" to the fabric's other side. Culturally, Rogan Art is deeply tied to the Khatri community in Nirona, Kutch. Traditionally, this intricate and time-consuming art embellished bridal attires. Facing the brink of extinction due to modern textile machinery, its preservation is crucial.
            <a href="{{ url_for('Rogan') }}"><button class="gallery">View Gallery</button></a>
        </div>
    </div>

    <div class="artform-container1">
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/Beadwork.jpg') }}" class="artform-image" alt="Beadwork">
            <p class="artform-name">Beadwork</p>
        </div>
        <div class="description-container1">
            Intricately crafted on a pristine, white background, the beadwork of Gujarat boasts vibrant colours and patterns that capture the eye! Artisans of Saurashtra, Vadodara, Dahod, and Cambay have mastered the art of creating decorative and auspicious artefacts like beadwork "torans" (welcoming friezes), and "loti nariyal" (kalash holding sacred coconut) using multi-colored beads, adding a touch of richness to their creations. The meticulous arrangement of each tiny bead transforms simple objects into dazzling displays of skill and cultural expression. Undoubtedly, these moti bharat or beadworks are also extensively used in making stunning jewellery items, from necklaces to earrings, reflecting the region's rich artistic heritage.
            <a href="{{ url_for('Beadwork') }}"><button class="gallery">View Gallery</button></a>
        </div>
    </div>

    <div class="artform-container2">
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/Wood Craft.webp') }}" class="artform-image" alt="Wood Carvings">
            <p class="artform-name">Wood Crafts</p>
        </div>
        <div class="description-container2">
            Did you know, Gujarat served as the primary hub of woodcarving in India, dating back to at least the 15th century? Timber was frequently used to give strength and stability to multi-storeyed houses in the past. Even today, in some of the old and relatively undisturbed towns of Gujarat, majority of the residents reside in wooden houses.The lacquered woodwork of the northern Kuch is deftly executed by the semi-nomadic community known as the Vadha community. It shares its motifs and techniques with regions of Rajasthan and Sindh. The range of these lively woodworks comprises, kitchen utensils, container, door frames, cradles, and more. 
            <a href="{{ url_for('Wood Craft') }}"><button class="gallery">View Gallery</button></a>
        </div>
    </div>

    </body>
</html>