<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ikat Weaving Gallery</title>
    <link rel="stylesheet" type="text/css" href="artform-gallery.css">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="Odisha.html"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Ikat Weaving Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/gK41rN2i2RA?si=9HQBiMfpFZMnTW66" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Ikat Saree Weaving</p>
        </div>

        <div class="gallery-item image-item">
            <img src="ikat1.jpg"  class="gallery-media">
            <p class="media-caption">Ikat Handloom</p>
        </div>

        <div class="gallery-item image-item">
            <img src="ikat2.jpg" class="gallery-media">
            <p class="media-caption">Ikat Fabrics</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/OGz3YdLYltI?si=DVTHYuyoFz0mlMxr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Ikat Silk Sarees</p>
        </div>

        <div class="gallery-item image-item">
            <img src="ikat3.jpg" class="gallery-media">
            <p class="media-caption">Ikat Weaving</p>
        </div>

        <div class="gallery-item image-item">
            <img src="ikat4.jpg" class="gallery-media">
            <p class="media-caption">Ikat Handicrafts</p>
        </div>

    </div>
</body>
</html>