<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rajasthan Gallery</title>
    <link rel="stylesheet" type="text/css" href="artform-gallery.css">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="Rajasthan.html"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Kalbelia Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/gV4YLAL6KL0?si=p6Up3Am00KBEUqZY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Kalbelia Dance</p>
        </div>

        <div class="gallery-item image-item">
            <img src="kalbelia1.jpg" alt="Dance Form" class="gallery-media">
            <p class="media-caption">Dance Form</p>
        </div>

        <div class="gallery-item image-item">
            <img src="kalbelia2.jpg" alt="Traditional Folk" class="gallery-media">
            <p class="media-caption">Traditional Folk</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/TI8OLN7IezQ?si=xnnn2Gzo3g1bCBkn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Rajasthani Folk</p>
        </div>

        <div class="gallery-item image-item">
            <img src="kalbelia3.jpg" alt="Dance Festival" class="gallery-media">
            <p class="media-caption">Dance Festival</p>
        </div>

        <div class="gallery-item image-item">
            <img src="kalbelia4.jpg" alt="Snake Charmers" class="gallery-media">
            <p class="media-caption">Snake Charmers</p>
        </div>

    </div>
</body>
</html>