<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalighat Painting Gallery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='artform-gallery.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="{{ url_for('West Bengal') }}"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Kalighat Painting Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xyy7qTPNyWw?si=9cfeOXIUdixK1cR4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">The Art of Kalighat</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/kalighat1.jpg') }}" class="gallery-media">
            <p class="media-caption">Kalighat Shiv-Shakti</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/kalighat2.jpg') }}" alt="Mughal Portrait Painting" class="gallery-media">
            <p class="media-caption">Kalighat Portrait</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8FRkf7Uj95g?si=qM2WWosiG6LLdyS6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Kalighat Painting Tutorial</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/kalighat3.jpg') }}" alt="Mughal Flora Painting" class="gallery-media">
            <p class="media-caption">Traditional Kalighat</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/kalighat4.jpg') }}" alt="Mughal Hunting Scene" class="gallery-media">
            <p class="media-caption">Kalighat Painting</p>
        </div>

    </div>
</body>
</html>