<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanchipuram Gallery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='artform-gallery.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="{{ url_for('Tamil_Nadu') }}"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Kanchipuram Weaves Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/UXZc52YhsRk?si=oGzRYOXcPR7bKaTw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Kanchipuram Silk Sarees</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/kanchi1.jpg') }}" class="gallery-media">
            <p class="media-caption">Kanchipuram Fabric</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/kanchi2.jpg') }}" class="gallery-media">
            <p class="media-caption">Kanchipuram Sarees</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/v0VELTX4YVI?si=e8IJsb_7fm6rJtdp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Kanchipuram Silk Motifs</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/kanchi3.jpg') }}" class="gallery-media">
            <p class="media-caption">Kanchipuram Weaving</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/kanchi4.jpg') }}" class="gallery-media">
            <p class="media-caption">Kanchipuram Silk</p>
        </div>

    </div>
</body>
</html>