<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kantha Gallery</title>
    <link rel="stylesheet" type="text/css" href="artform-gallery.css">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="West Bengal.html"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Kantha Embroidery Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6c_Ge_T3r9o?si=IfztTah2zQ5KIhzf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Traditional Kantha Embroidery</p>
        </div>

        <div class="gallery-item image-item">
            <img src="kantha1.jpg" class="gallery-media">
            <p class="media-caption">Kantha Work</p>
        </div>

        <div class="gallery-item image-item">
            <img src="kantha2.jpg" class="gallery-media">
            <p class="media-caption">Kantha Products</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9pQO8vnl6v8?si=w7ZS4NR3bkaomJyb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">The Kantha Stitch</p>
        </div>

        <div class="gallery-item image-item">
            <img src="kantha3.jpg" class="gallery-media">
            <p class="media-caption">Kantha Handicrafts</p>
        </div>

        <div class="gallery-item image-item">
            <img src="kantha4.jpg" class="gallery-media">
            <p class="media-caption">Kantha Decor</p>
        </div>

    </div>
</body>
</html>