<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kathakali Gallery</title>
    <link rel="stylesheet" type="text/css" href="artform-gallery.css">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="kerala.html"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Kathakali Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/GBbcYtkqVKQ?si=dQImVrRnwLMnn7WI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Kathakali Dance</p>
        </div>

        <div class="gallery-item image-item">
            <img src="kathakali1.jpg" class="gallery-media">
            <p class="media-caption">Kathakali Female Look</p>
        </div>

        <div class="gallery-item image-item">
            <img src="kathakali2.jpg" class="gallery-media">
            <p class="media-caption">Kathakali Male Look</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/NvZsoIiD5q0?si=XcGJqiFvsaWWt2CY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Kathakali Performance</p>
        </div>

        <div class="gallery-item image-item">
            <img src="kathakali3.jpg" class="gallery-media">
            <p class="media-caption">Performance</p>
        </div>

        <div class="gallery-item image-item">
            <img src="kathakali4.jpg" class="gallery-media">
            <p class="media-caption">Expressions</p>
        </div>

    </div>
</body>
</html>