<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khatamband Ceiling Gallery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='artform-gallery.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="{{ url_for('J_K') }}"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Khatamband Ceiling Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/eAiInVodZU0?si=IIl02YOlaoz60Msu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Khatamband: The Art of Intricately Carved Ceilings in Kashmir</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/kceiling1.jpg') }}" class="gallery-media">
            <p class="media-caption">Luxurious Ceilings</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/kceiling2.jpg') }}"class="gallery-media">
            <p class="media-caption">Ceiling Designs</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lZjoBU0IC6w?si=KDhIqrWummHCqq1Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Traditional Making of Khatamband</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/kceiling3.jpg') }}" class="gallery-media">
            <p class="media-caption">Old-House Designs</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/kceiling4.jpg') }}" class="gallery-media">
            <p class="media-caption">Floral Designs</p>
        </div>

    </div>
</body>
</html>