<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kinnal Gallery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='artform-gallery.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="{{ url_for('karnataka') }}"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Kinnal Craft Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0j164aidCIs?si=qInMJpz3JpKgpmjH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">The Legacy of Kinnal</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/kinnal1.jpg') }}" class="gallery-media">
            <p class="media-caption">Kinnal Wooden Dolls</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/kinnal2.jpg') }}" class="gallery-media">
            <p class="media-caption">Kinnal Intricate Designs</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zH_OibsEhaE?si=efd_HBLq6VQFV73A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Making of Kinnal Artwork</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/kinnal3.jpg') }}" class="gallery-media">
            <p class="media-caption">Kinnal Showpieces</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/kinnal4.jpg') }}" class="gallery-media">
            <p class="media-caption">Kinnal Idols</p>
        </div>

    </div>
</body>
</html>