<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lakh Bangles Gallery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='artform-gallery.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="{{ url_for('Rajasthan') }}"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Lakh Bangles Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/TMhGmIcaTH0?si=WSTRG_FuMI2UbJjm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Making of Lac Bangles</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/lakh1.jpg') }}" alt="Multicolor lac bangles" class="gallery-media">
            <p class="media-caption">Multicolor</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/lakh2.webp') }}" alt="lac Bridal Chuda" class="gallery-media">
            <p class="media-caption">Bridal Chuda</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6so64wDulAA?si=LWmc1pAfUAQ0pGj3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Lac Bangle Makers of Jaipur</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/lakh3.jpg') }}" alt="Jaipuri lac bangles" class="gallery-media">
            <p class="media-caption">Jaipuri</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/lakh4.webp') }}" alt="lac kada" class="gallery-media">
            <p class="media-caption">Kada</p>
        </div>

    </div>
</body>
</html>