<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Namda Gallery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='artform-gallery.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="{{ url_for('J_K') }}"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Namda Works Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/_O80q4rj5_w?si=nRMf3BayYBRQafeX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Kashmiri Namda: The craft of creating luxuriest felted woolen rugs</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/namda1.jpg') }}" class="gallery-media">
            <p class="media-caption">Namda Work</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/namda2.jpg') }}" class="gallery-media">
            <p class="media-caption">Namda Rug</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/noc29ymfK7M?si=izNwvEZSImGeuqon" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Revival of Kashmir's Namda</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/namda3.jpg') }}" class="gallery-media">
            <p class="media-caption">Namda Making</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/namda4.jpg') }}" class="gallery-media">
            <p class="media-caption">Namda Design</p>
        </div>

    </div>
</body>
</html>