<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pahari Painting</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='artform-gallery.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="{{ url_for('Himachal') }}"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Pahari Painting Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/j8p63DCGyAg?si=6tYDJldZ4oNxwpdM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">The Art of Himachal Pahari Paintings</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/pahari1.jpg') }}" class="gallery-media">
            <p class="media-caption">Pahari Works</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/pahari2.jpg') }}" class="gallery-media">
            <p class="media-caption">Pahari Manuscripts</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/askwrOifXpI?si=1KPjA69Z-TAeZfho" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Pahari Painting Tutorial</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/pahari3.jpg') }}" class="gallery-media">
            <p class="media-caption">Traditional Pahari</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/pahari4.jpg') }}" class="gallery-media">
            <p class="media-caption">Ancient Pahari</p>
        </div>

    </div>
</body>
</html>