<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papier-Mâché Gallery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='artform-gallery.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="{{ url_for('J&K') }}"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Papier-Mâché Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/H3kiNQQWw6A?si=zjQnZqq4fDnVoZfl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Papier-Mâché Craft of Jammu & Kashmir</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/papier1.jpg') }}" class="gallery-media">
            <p class="media-caption">Vases</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/papier2.jpg') }}" class="gallery-media">
            <p class="media-caption">Decorative Crockery</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-8jzZUqcsQE?si=r1zF4gG9_gQpxFNd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Making of Paper Mache Crafts</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/papier3.jpg') }}" class="gallery-media">
            <p class="media-caption">Attractive Containers</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/papier4.jpg') }}" class="gallery-media">
            <p class="media-caption">Decor Items</p>
        </div>

    </div>
</body>
</html>