<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pichwai Gallery</title>
    <link rel="stylesheet" type="text/css" href="artform-gallery.css">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="Rajasthan.html"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Pichwai  Painting Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/qRr0ZVlPGsI?si=XGLorRGX1wk9LF1H" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">The Art of Pichwai</p>
        </div>

        <div class="gallery-item image-item">
            <img src="pichwai1.webp" alt="Mughal Court Painting" class="gallery-media">
            <p class="media-caption">Pichwai Folk</p>
        </div>

        <div class="gallery-item image-item">
            <img src="pichwai2.jpg" alt="Mughal Portrait Painting" class="gallery-media">
            <p class="media-caption">Pichwai Plates</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zOV7SKHwM9Q?si=bVxSC66V2PG_JGGm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Pichwai Tutorial</p>
        </div>

        <div class="gallery-item image-item">
            <img src="pichwai3.jpg" alt="Mughal Flora Painting" class="gallery-media">
            <p class="media-caption">Pichwai Krishna</p>
        </div>

        <div class="gallery-item image-item">
            <img src="pichwai4.jpg" alt="Mughal Hunting Scene" class="gallery-media">
            <p class="media-caption">Nathdwara Pichwai</p>
        </div>

    </div>
</body>
</html>