<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rajasthan Artforms</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='artform-gallery.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Artifika&display=swap" rel="stylesheet">
</head>
<body>
    <a href="{{ url_for('State_region') }}"><button id="Back">Back</button></a>

    <div class="artform-container1">
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/kalbelia.jpg') }}" class="artform-image" alt="Kalbeliya Danceform">
            <p class="artform-name">Kalbeliya Danceform</p>
        </div>
        <div class="description-container1">
            Kalbelia Dance, from Rajasthan, is the vibrant expression of the nomadic Kalbelia community, historically snake charmers. Its history is deeply tied to their traditional life, evolving for rituals, celebrations, and later, as a livelihood after the 1972 Wildlife Protection Act. The dance's beauty lies in the fluid, serpent-like movements of female dancers in swirling ghagras, accompanied by male musicians on instruments like the pungi and unscripted folk songs. Culturally significant, it reflects the community's identity, resilience, and connection to nature. This living oral tradition, passed down generations, was recognized by UNESCO in 2010 as Intangible Cultural Heritage, cementing its status as a global treasure.
            <a href="{{ url_for('Kalbelia') }}"><button class="gallery">View Gallery</button></a>
        </div>
    </div>

    <div class="artform-container2">
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/Pichwai.jpg') }}" class="artform-image" alt="Pichwai Paintings">
            <p class="artform-name">Pichwai Paintings</p>
        </div>
        <div class="description-container2">
            Pichwai paintings, from Nathdwara, Rajasthan, boast a 17th-century history, traditionally serving as temple backdrops behind Shrinathji (Lord Krishna) to narrate his divine tales. Their beauty is evident in vibrant colors, intricate details, and rich symbolism, depicting Krishna's leelas and festivities on cotton using natural pigments. Motifs like cows, lotuses, and peacocks are common. Culturally significant, Pichwais are sacred objects reflecting deep spiritual connections. Passed down through generations of Nathdwara artists, they are both a form of worship and an educational tool, solidifying their global recognition as a testament to Rajasthan's profound artistic and spiritual heritage.
            <a href="{{ url_for('Pichwai') }}"><button class="gallery">View Gallery</button></a>
        </div>
    </div>

    <div class="artform-container1">
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/Lakh Bangles.jpg') }}" class="artform-image" alt="Indian Textile Art">
            <p class="artform-name">Laakh Bangles</p>
        </div>
        <div class="description-container1">
            Lakh Bangles, or lac bangles, are a quintessential part of Rajasthan's vibrant culture, with a history dating back centuries and flourishing under royal patronage in Jaipur. Considered auspicious, especially for married women. Their beauty stems from striking colors and intricate designs, meticulously crafted from lac resin and often adorned with pigments, beads, and mirrors. Culturally significant, these bangles symbolize femininity and good fortune, indispensable in ceremonies and festivals. This enduring art reflects Rajasthan's rich heritage, passed down through generations of skilled artisans.
            <a href="{{ url_for('Lakh Bangles') }}"><button class="gallery">View Gallery</button></a>
        </div>
    </div>

    <div class="artform-container2">
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/Puppets.jpg') }}" class="artform-image" alt="Indian Textile Art">
            <p class="artform-name">Puppetry</p>
        </div>
        <div class="description-container2">
            Rajasthan's Art of Puppets, especially Kathputli, boasts a rich, ancient history, originating with the Bhat community over a thousand years ago. These string puppets traditionally entertained royalty and served as a vital means of preserving folklore, heroism, and social messages. The beauty lies in their vibrant, carved wooden forms, adorned in traditional attire. Puppeteers skillfully manipulate these figures, creating intricate movements and expressive narratives. Culturally significant, this art is a living tradition reflecting Rajasthan's social customs and beliefs. It's an important oral tradition, passing down stories through generations. Despite modern challenges, efforts continue to preserve this globally recognized, captivating art form—a cherished cultural heritage of Rajasthan.
            <a href="{{ url_for('Puppetry') }}"><button class="gallery">View Gallery</button></a>
        </div>
    </div>

    </body>
</html>