<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saharanpur Wood Gallery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='artform-gallery.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="{{ url_for('UP') }}"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Saharanpur Woodwork Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ruSGFwVp3Uo?si=eLMi51wEeoK7tbDV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Wood Carving of Saharanpur</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/swood1.jpg') }}" class="gallery-media">
            <p class="media-caption">Woodworks</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/swood2.jpg') }}" class="gallery-media">
            <p class="media-caption">Furniture</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xAuZHe4I1_w?si=B9piznfL-jKO-oTA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Wood Carvers of Saharanpur</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/swood3.jpg') }}" class="gallery-media">
            <p class="media-caption">Floral Designs</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/swood4.jpg') }}" class="gallery-media">
            <p class="media-caption">Containers</p>
        </div>

    </div>
</body>
</html>