<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KalaKosh Gallery - Mughal Painting</title>
    <link rel="stylesheet" type="text/css" href="artform-gallery.css">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="MP.html"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Mughal Miniature Painting Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/TTGw2pKkyVk?si=FYR3f_fybuBlbMAI&amp;start=116" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Terracotta Art in Bethul</p>
        </div>

        <div class="gallery-item image-item">
            <img src="Terracotta1.jpg" alt="Mughal Court Painting" class="gallery-media">
            <p class="media-caption">Royal Court Scene</p>
        </div>

        <div class="gallery-item image-item">
            <img src="terracotta2.webp" alt="Mughal Portrait Painting" class="gallery-media">
            <p class="media-caption">Emperor's Portrait</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/h8xYkWR9Uc0?si=VtGW3eLxjs6q3vD7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Making of Terracotta Pots</p>
        </div>

        <div class="gallery-item image-item">
            <img src="Terracotta3.jpg" alt="Mughal Flora Painting" class="gallery-media">
            <p class="media-caption">Exquisite Floral Designs</p>
        </div>

        <div class="gallery-item image-item">
            <img src="terracotta4.jpg" alt="Mughal Hunting Scene" class="gallery-media">
            <p class="media-caption">Dynamic Hunting Scene</p>
        </div>

    </div>
</body>
</html>