<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanjavur Gallery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='artform-gallery.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="{{ url_for('Tamil_Nadu') }}"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Thanjavur Painting Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7UzBk1Uejis?si=Lsv4lzXfFTx966AG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">The Art of Thanjavur Paintings</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/thanjavur1.jpg') }}" class="gallery-media">
            <p class="media-caption">Maa Saraswati</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/thanjavur2.jpg') }}" class="gallery-media">
            <p class="media-caption">Maa Lakshmi</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/hDd11z-8y54?si=uaoLkso3pUr_I6rH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Thanjavur Painting for Beginners</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/thanjavur3.jpg') }}" class="gallery-media">
            <p class="media-caption">Thanjavur Art</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/thanjavur4.jpg') }}" class="gallery-media">
            <p class="media-caption">Shree Ganesh</p>
        </div>

    </div>
</body>
</html>