<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wood Crafts</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='artform-gallery.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="{{ url_for('Gujarat') }}"><button id="Back">Back</button></a>
    <h1 class="gallery-title">Wood Crafts Gallery</h1>

    <div class="gallery-container">
        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/idnjb514DD8?si=xvUZKndbOp8pN00y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">The Art of Wood Crafting</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/wood1.jpg') }}" alt="Door Carvings" class="gallery-media">
            <p class="media-caption">Door Carvings</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/wood2.jpg') }}" alt="Wood Cradle" class="gallery-media">
            <p class="media-caption">Wood Cradle</p>
        </div>

        <div class="gallery-item video-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1JX_d7FP5wU?si=N3ESWwO9SjedYsSx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="gallery-media"></iframe>
            <p class="media-caption">Making of Wooden Articles</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/wood3.jpg') }}" alt="Wood Containers" class="gallery-media">
            <p class="media-caption">Wood Containers</p>
        </div>

        <div class="gallery-item image-item">
            <img src="{{ url_for('static', filename='images/wood4.jpg') }}" alt="Kitchen Utensils" class="gallery-media">
            <p class="media-caption">Kitchen Utensils</p>
        </div>

    </div>
</body>
</html>